<div class="wrapper">
    <div class="login">
        <div class="login-header">
            <div class="logo">
                <span>
                    <i>Logo</i>
                </span>
            </div>
        </div>
        <div class="login-form">
        
            <div class="input">
                <label>Usuário</label>
                <input type="text" name="usuario" />
            </div>
            
            <div class="input">
                <label>Senha</label>
                <input type="password" name="senha" />
            </div>
            
            <div class="input">
                <button>Entrar</button>
            </div>

            <div class="text-bottom">
                <a href="#">Esqueci minha senha</a>
            </div>
        </div>
    </div>
</div>