<nav class="nav-bar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">
      <span style="margin-right: 15px;"><i class="fa fa-user"></i></span>USUÁRIO
    </li>
    <li class="navbar-menuitem">      
      <a href="#">
        <span style="margin-right: 15px;"><i class="fa fa-trophy"></i></span>
        Criar Torneio
      </a>
    </li>
    <li class="navbar-menuitem">      
      <a href="#">
        <span style="margin-right: 15px;"><i class="fa fa-edit"></i></span>
        Gerenciar Torneios
      </a>
    </li>
    <li class="navbar-menuitem">
      <a href="#">
        <span style="margin-right: 15px;"><i class="fa fa-sign-out"></i></span>        
        Sair do Sistema
      </a>
    </li>
  </ul>

</nav>